CarNumberChecker/bin/Debug/CarNumberChecker.exe.config
CarNumberChecker/bin/Debug/CarNumberChecker.vshost.exe.config
CarNumberChecker/bin/Debug/CarNumberChecker.vshost.exe.manifest
CarNumberChecker/obj/Debug/CarNumberChecker.Form1.resources
CarNumberChecker/obj/Debug/CarNumberChecker.Properties.Resources.resources
CarNumberChecker/obj/Debug/CarNumberChecker.csproj.FileListAbsolute.txt
CarNumberChecker/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CarNumberChecker/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CarNumberChecker/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
